<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %}</title>
    {% block style %}
    {% endblock %}
    <script src="/static/js/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/sjld.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <script type="text/javascript" src='/static/tiny_mce/tiny_mce.js'></script>
    <script type="text/javascript">
        tinyMCE.init({
            'mode':'textareas',
            'theme':'advanced',
            'width':650,
            'height':500
        });

    </script>
</head>
<body>
{% block top %}
<div class="top">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hi Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" method='get' action="/search/" target="_blank">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/add_article/">写博客</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/details/">个人资料</a></li>
                        <li><a href="/user/list_article/">我的博客</a></li>
                        <li><a href="/user/alter/">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/user/user_logout/">退出登录</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/user/user_login/">登录</a></li>
                <li><a href="/user/register/">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>
{% endblock %}
<!--内容-->
<div class="container">
    {% block content %}
    <h3>继承，待修改！ <span class="label label-default">New</span></h3>
    {% endblock %}

</div>
<!--结束内容-->
<!--底部-->
<!--<nav class="navbar navbar-inverse">-->
    <!--<p style="height:100px"></p>-->
<!--</nav>-->
<!--结束底部-->
</body>
</html>